<h1>Sobre o Space Shooter</h1>
<p>O Space Shooter é um emocionante jogo de naves espaciais desenvolvido para testar suas habilidades de pilotagem e mira.</p>
<p>Enfrente ondas de inimigos, desvie de obstáculos e tente alcançar a maior pontuação possível!</p>
<img src="/img/space_shooter_placeholder.png" alt="Space Shooter Game" class="img-fluid">
<p class="mt-3">Este jogo foi desenvolvido como parte da disciplina de Programação para a Web.</p>