<h2>Página 2: Bloco Condicional #if</h2>
{{#if poweredByNodejs}}
    <p>Esta tecnologia é baseada em Node.js: <strong>{{name}}</strong> é um(a) <strong>{{type}}</strong>.</p>
{{else}}
    <p>Esta tecnologia não é baseada em Node.js.</p>
{{/if}}