/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#chartForm input[type="number"] {
    margin-right: 10px;
}

#chartContainer {
    margin-top: 20px;
}

.bar {
    background-color: red;
    width: var(--bar-width);
    height: 0; /* Altura inicialmente zero, definida via JavaScript */
    margin-right: 10px;
    display: inline-block;
}