div{
    border: 5px;
    border-style: solid;
    border-color: darkturquoise;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 220px;
    height: 460px;
    position: relative;
    top: 60px;
    left: 40px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-size: 25px;
        color: white;
    }    
    
    p{
        color: white;
        font-size: 18px;
    }

    }

body {
    background-image: url(https://m.media-amazon.com/images/S/pv-target-images/42dbfcf2215f0e3ecddbb5e46e10acdc50d79552d337ac07c93c6e9c66123a2d._SX1080_FMjpg_.jpg);
    background-position: center;
}