<link rel="stylesheet" href="/css/style.css" />
<div id="space">
  <div id="hud">
    <div id="lives"></div>
    <div id="score">000000</div>
  </div>
</div>

<div id="game-over" class="hidden">
  <h2>Game Over</h2>
  <button id="restart-btn">Restart</button>
</div>

{{! Carrega o script principal do jogo }}
<script type="module" src="/js/game.js"></script>