body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; 
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container {
    padding: 30px 40px;
    border-radius: 8px;
    max-width: 800px; /* Define uma largura máxima */
    width: 100%;
    /* A linha abaixo é a mais importante para centralizar o bloco */
    margin: 0 auto;
    text-align: center; /* Centraliza o texto e elementos inline */
}

h1 {
    color: #333;
    letter-spacing: 3px; 
    font-size: 25px;
    margin-bottom: 30px;
    align-items: center;
}

.form-container {
    margin: 20px 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

#paragrafos {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 35px;
    height: 10px;
}

#gerar-btn {
    padding: 5px 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000; 
    font-size: 12px;
}

.lorem-container {
    margin-top: 30px;
    text-align: justify;
}

.lorem-container p {
    text-align: center;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px; 
}